h1
{
  color:blanchedalmond;
  font-style:italic ;
  font-size:50px;
  text-align:center;
}
p 
{ color:pink;
  font-style:bold;
  font-size:20px
  text-align:side;
}
.name
{ background-color:carrot;
}
